{{ range .Site.Params.education.list }}

<h4 style="text-decoration: underline;">{{ .degree }}</h4>
<p {{ if .thesis_title }}class="mb-0" {{ end }}>
  {{- .dates }} &middot; {{ .college -}}<br/>
{{ if .details }}
{{ .details | markdownify }}
{{ end }}
</p>
{{ if .thesis_title }}
{{ if .thesis_url }}
<p>
  Thesis:
  <a href="{{ .thesis_url }}"><i>{{ .thesis_title }}</i></a>
</p>
{{ else }}
<p>
  Thesis: <i>{{ .thesis_title }}</i>
</p>
{{ end }}
{{ end }}
{{ end }}
