{{ range .Site.Params.positions.list }}

<h4 style="text-decoration: underline;">{{ .degree }}</h4>
{{ if .thesis_title }}
{{ if .thesis_url }}
<p>
  <b>{{ .thesis_type }}:</b>
  <a href="{{ .thesis_url }}"><i>{{ .thesis_title }}</i></a>
</p>
{{ else }}
<p>
  <b>{{ .thesis_type }}:</b> <i>{{ .thesis_title }}</i>
</p>
{{ end }}
{{ end }}
{{ end }}
