{{ range .Site.Params.students.list }}

<h4 style="text-decoration: underline;">{{ .degree }}</h4>
<p {{ if .thesis_title }}class="mb-0" {{ end }}>
  {{- .dates | markdownify}} &middot; {{ .title  | markdownify}} &middot; {{ .supervisor -}}
  {{ .details | markdownify }}</p>

{{ end }}
