<p class="markdownify">
  <ul>
    {{ if .Site.Params.teaching.description }}
  <li>{{ .Site.Params.teaching.description | markdownify }}</li>
  {{ end }}
  {{ if .Site.Params.teaching.description2 }}
  <li>{{ .Site.Params.teaching.description2 | markdownify }}</li>
  {{ end }}
  {{ if .Site.Params.teaching.description3 }}
  <li>{{ .Site.Params.teaching.description3 | markdownify }}</li>
  {{ end }}
  {{ if .Site.Params.teaching.description4 }}
  <li>{{ .Site.Params.teaching.description4 | markdownify }}</li>
  {{ end }}
{{ if .Site.Params.teaching.description5 }}
  <li>{{ .Site.Params.teaching.description5 | markdownify }}</li>
{{ end }}
  </ul>
</p>
